*.class
Recursive
target
build
*.iml
*.ipr
*.iws
cobertura.ser
DS_Store
.gradle
.vagrant
BINTRAY_HOME
out
services/src/test/resources/artifactory-client.properties
atlassian-*.xml
.idea/
.project
.classpath
.settings
ning-services/src/test/resources/artifactory-client.properties