*.class
Recursive
target
build
*.iml
*.ipr
*.iws
cobertura.ser
DS_Store
.gradle
.vagrant
BINTRAY_HOME
out
atlassian-*.xml
.idea/
.project
.classpath
.settings
ning-services/src/test/resources/artifactory-client.properties
ning-services/src/test/resources/artifactory-ning-client.properties
